server:
  port: 8089
  
spring:
  application:
    name: suivi_academique

  datasource:
    url: jdbc:mysql://localhost:3306/suivi_academique
    username: root
    password: ""
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect

jwt:
  secret: 404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
  expiration: 86400000

logging:
  level:
    org.springframework.boot: ERROR
    org.springframework.boot.StartupInfoLogger: OFF