server:
  port: 8089
  
spring:
  application:
    name: suivi_academique

  datasource:
    url:  jdbc:h2:mem:suivi_academique_test;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    username: sa
    password: ""
    driver-class-name: org.h2.Driver

  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
  h2:
    console:
      enabled: true
      path: /h2-console

jwt:
  secret: 404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
  expiration: 86400000

logging:
  level:
    org.springframework.boot: ERROR
    org.springframework.boot.StartupInfoLogger: OFF